@include adaptive_tablet {
  .main-page__wrapper {
    position: relative;
  }
}

@include adaptive_desktop {
  .main-page {
    background-color: $color_gray;
  }

  .main-page__wrapper {
    width: $desktop__width;
    margin: auto;
    box-shadow: -5px -5px 10px 0 rgba(0,0,0,0.1),
                5px 5px 10px 0 rgba(0,0,0,0.1);
  }
}
